.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link {
  display: flex;
  height: 76px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sidebar-link:hover {
  background-color: rgb(232, 228, 228);
  cursor: pointer;
}
.sidebar-link button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 6px;
  background: transparent;
}
.sidebar-link button:hover {
  cursor: pointer;
}

.sidebar-link img {
  margin-bottom: 3px;
  height: 24px;
}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}
